.profilepage{
    display: flex;
    padding: 1rem;
    flex-direction: row;
}

.profilepage_info{
    margin: 1rem 5rem;
    display: flex;
    flex: 0.5;
}

.profilepage_post{
    /* display: flex; */
    /* flex: 1; */
    margin: 1rem 2rem;
}